<!-- importing the header -->
{{>header}}    

    <div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-7 mr-5 animate__animated animate__fadeInLeft animate__slow animate-me-left">
                <h1>A Node.js To-Do Application</h1>
                <p>
                    Node Note Now is a personal project developed using Node.js framework. </br>
                    Everything, including the Front-End, was developed with love from scratch, only using Bootstrap snippets.</br>
                    Test the functionality of this project using the following credentials: </br>
                    Username: <b>Node-js-project</b>, Password: <b>TestingPassword321</b>

                </p>
                <button class="btn btn-light btn-lg action-button mr-2" type="button">Login</button>
                <button class="btn btn-light btn-lg action-button" type="button">Contact developer</button>
            </div>
            <div class="col-md-5 col-lg-4 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder animate-me-right animate__animated animate__fadeInRight animate__slow">
                <div class="iphone-mockup"><img src="/img/nodenotesnow-phone.png" class="device">
                    <div class="screen"></div>
                </div>
        </div>
    </div>

<!-- importing the footer -->
{{>footer}}